parameters:
    ignoreErrors:
        -
            message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
            identifier: argument.type
            count: 1
            path: app/Http/Controllers/Auth/VerifyEmailController.php
            #        - '#Call to an undefined method Illuminate\\Support\\Collection::someCustomMacro#'

#        -
#            message: "#^Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.$#"
#            path: config/*.php

#        -
#            '#PHPDoc tag @var#'

    excludePaths:

#        - ./*/*/FileToBeExcluded.php

    typeAliases:

#        ValidationRules: 'array<string, array<\Illuminate\Contracts\Validation\Rule|\Illuminate\Contracts\Validation\ValidationRule|string>|string>'
